%head
  =haml :header, :layout => false
  %section.container
    %section.top
      .sun
      .cloud
      .cloud2
      .cloud3
      .cloud4
      %a{ :href => "/", :title => "Home"}
        .brand
          %h1= @lineOne
          %h1= @lineTwo
          %h1= @lineThree
          %h1= @lineFour
      .nav
        %a{ :href => "contact", :title => "Like our addresses and stuff." }
          Contact Us
        %a{ :href => "signup", :title => "Our mailers and what not." }
          Sign up for Announcements
      .grass
    %section.right
      = yield
    %section.footer
      =haml :footer, :layout => false

  -#%script{:type => "text/javascript", :src => "#{javascript_path('jquery-2.1.0')}" }
  -#%script{:type => :"text/javascript", :src => "#{javascript_path('underscore')}" }
